@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your Tailwind CSS file (e.g., styles.css or global.css) */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
/* In your global CSS file (e.g., styles.css or global.css) */
.loader {
  border-top-color: #3498db;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

